<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="card-footer d-flex justify-content-between">
                <a  class="btn btn-primary" routerLink="/create/property"><i class="bi bi-plus-lg"></i> New Post</a>
                <a href="#" class="btn btn-primary" routerLink="/my-reservation"><i class="bi bi-bell-fill"></i> My Reservations</a>     
                <a  class="btn btn-primary" routerLink="/reservation/requests"><i class="bi bi-bell-fill"></i> Reservation Requests</a>         
            </div>
        </div>
       </div>
       <br>
    <div class="row">
      <!-- First Column (4) -->
      <div class="col-4">
        <div class="row">
            <app-property-post></app-property-post>
        </div>
        <div class="row">
            <app-property-post></app-property-post>
        </div>
        <div class="row">
            <app-property-post></app-property-post>
        </div>
      </div>
  
      <!-- Second Column (4) -->
      <div class="col-4">
        <div class="row">
            <app-property-post></app-property-post>
        </div>
        <div class="row">
            <app-property-post></app-property-post>
        </div>
        <div class="row">
            <app-property-post></app-property-post>
        </div>
      </div>
  
      <!-- Third Column (4) -->
      <div class="col-4">
        <app-property-post></app-property-post>
      </div>
    </div>
  </div>
  