/* admin.component.css */

.admin-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease-in-out; /* Animation for sliding in */
  }
  
  .admin-container h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #05445E;
    font-family: 'Arial', sans-serif; /* Change the font-family here */
    animation: fadeIn 1s ease-in-out;
  }
  
  
  .admin-functionality {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out; /* Animation for fading in */
  }
  
  .admin-functionality h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #007bff;
  }
  
  .admin-functionality button {
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .admin-functionality button:hover {
    background-color: #0056b3;
  }
  
  /* Keyframe animations */
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  