<!-- First Row -->
<div class="row">
    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>

    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>

    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>
</div>
<br>
<!-- Second Row -->
<div class="row">
    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>

    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>

    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>
</div>
<!-- Third Row -->
<div class="row">
    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>

    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>

    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>
</div>




