
 <div class="container">
    <!-- First Row -->
   <div class="row">
    <div class="col-12">
        <div class="card-footer d-flex justify-content-between">
            <a href="#" class="btn btn-primary" routerLink="/create/property"><i class="bi bi-plus-lg"></i> New Post</a>
            <a href="#" class="btn btn-primary" routerLink="/reservation/requests"><i class="bi bi-bell-fill"></i> Reservation Requests</a>         
        </div>
    </div>
   </div>
<br>
   <!-- Second Row -->
<div class="row">
    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>

    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>

    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>
</div>
<br>
<!-- Third Row -->
<div class="row">
    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>

    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>

    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>
</div>
<!-- Fouth Row -->
<div class="row">
    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>

    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>

    <div class="col-md-4">
        <app-property-post></app-property-post>
    </div>
</div>

</div>