<h1>Results for {{ propertycategory }}</h1>
<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Property 1</td>
        <td>200$</td>
        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aut dignissimos cum quaerat, fuga animi ex consequatur nulla inventore earum quo quia tempore cumque neque suscipit expedita corporis rem explicabo?</td>
        <td>
            <a class="btn btn-primary me-2"><i class="bi bi-eye-fill"></i> Details</a>
            <a class="btn btn-primary "><i class="bi bi-lock-fill"></i> Reserve</a>
        </td>
      </tr>
     
      <tr>
        <th scope="row">2</th>
        <td>Property 2</td>
        <td>4400$</td>
        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aut dignissimos cum quaerat, fuga animi ex consequatur nulla inventore earum quo quia tempore cumque neque suscipit expedita corporis rem explicabo?</td>
        <td>
            <a class="btn btn-primary"><i class="bi bi-eye-fill"></i> Details</a>
            <a class="btn btn-primary">Reserve</a>
        </td>
      </tr>
      
      <tr>
        <th scope="row">3</th>
        <td>Property 3</td>
        <td>550$</td>
        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aut dignissimos cum quaerat, fuga animi ex consequatur nulla inventore earum quo quia tempore cumque neque suscipit expedita corporis rem explicabo?</td>
        <td>
            <a class="btn btn-primary"><i class="bi bi-eye-fill"></i> Details</a>
            <a class="btn btn-primary">Reserve</a>
        </td>
      </tr>
    </tbody>
  </table>