<div class="container">
    <div class=" d-flex justify-content-between">
        <a class="btn btn-primary" routerLink="/buyer-seller"><i class="bi bi-box-arrow-left"></i> Go Back</a>
        <h2>Reservation Requests</h2>
    </div>
    <br>
    <div class="reservation-item">
      <div class="property-details">
        <h3>Buyer 1 name</h3>
        <h3>Property Title 1</h3>
        <p><i class="bi bi-bookmark-fill"></i> Category: Vacation Rental</p>
      </div>
      <div class="reservation-actions">
        <a href="#" class="btn btn-primary">Accept</a>
        <a href="#" class="btn btn-primary">Change</a>
        <a href="#" class="btn btn-primary">Refuse</a>
      </div>
    </div>
  
    <div class="reservation-item">
        <div class="property-details">
          <h3>Buyer 2 name</h3>
          <h3>Property Title 2</h3>
          <p><i class="bi bi-bookmark-fill"></i> Category: Vacation Rental</p>
        </div>
        <div class="reservation-actions">
          <a href="#" class="btn btn-primary">Accept</a>
          <a href="#" class="btn btn-primary">Change</a>
          <a href="#" class="btn btn-primary">Refuse</a>
        </div>
      </div>

      <div class="reservation-item">
        <div class="property-details">
          <h3>Buyer 3 name</h3>
          <h3>Property Title 3</h3>
          <p><i class="bi bi-bookmark-fill"></i> Category: Vacation Rental</p>
        </div>
        <div class="reservation-actions">
          <a href="#" class="btn btn-primary">Accept</a>
          <a href="#" class="btn btn-primary">Change</a>
          <a href="#" class="btn btn-primary">Refuse</a>
        </div>
      </div>
  </div>
  