<div class="card">
      <!-- Photos -->
      <div class="photos-container">
        <!-- Photo grid or any other layout to display multiple photos -->
        <div class="row">
            <div class="col-md-4 mb-3">
                <img src="../../../assets/images/book1.webp" class="d-block w-100 card-image" alt="...">
            </div>
            <div class="col-md-4 mb-3">
                <img src="../../../assets/images/Home.jpg" class="d-block w-100 card-image" alt="...">
            </div>
            <div class="col-md-4 mb-3">
                <img src="../../../assets/images/book1.webp" class="d-block w-100 card-image" alt="...">
            </div>
            <div class="col-md-4 mb-3">
                <img src="../../../assets/images/Home.jpg" class="d-block w-100 card-image" alt="...">
            </div>
        </div>
    </div>

      <div class="card-body"> 
          <p class="card-text"> Title: </p>
          <p class="card-text"><i class="bi bi-tag-fill"></i> Price: 2000$</p>
          <p class="card-text"><i class="bi bi-bookmark-fill"></i> Category: Airbnb</p>
          <p class="card-text"><i class="bi bi-geo-alt-fill"></i> Location: Tirane</p>
          <p class="card-text">Area: 200sq</p>
          <p class="card-text"> Number of bedrooms: 4</p>
          <p class="card-text"><i class="bi bi-card-text"></i> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quaerat cum blanditiis reiciendis maxime quas libero perferendis, accusantium laborum vero? Molestiae soluta eaque deleniti iusto explicabo suscipit sunt cumque hic.</p>
      </div>
      
      <div class="card-footer d-flex justify-content-between">
          <a href="#" class="btn btn-primary" routerLink="/">Go Back</a>
          <a href="#" class="btn btn-primary">Update</a>
          <a href="#" class="btn btn-primary"><i class="bi bi-lock-fill"></i> Reserve</a>
      </div>
      
  </div>